<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
       .main-table {
        border: solid 1px gray;
        border-collapse: collapse;
        width: 70%;

      }
      th,
      td {
        padding: 10px;
        color: rgb(70, 68, 68);
        /* border: solid 1px gray; */
      }
      .status{
        background-color: #DFE1E6;
        color: black;
      }
      s{
        background-color: #FFE7E7;
      }
    </style>
  </head>
  <body>
    <table class="small-table">
        <tr>
            <td>There are <b style="color: #1960D0 ;"> "+ body.Properties.Count +" updates</b></td>
        </tr>
    </table>
    <table class="main-table">
      <tbody>
        <tr>
          <td colspan="2" style="color: #1960D0">
            "+body.ProjectName +" / "+ body.ProjectShortName +"/"+body.IssueId+" <b class="status">"+body.StatusIssueName+"</b> 
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 30px"><b>""+body.IssueSummary+""</b></td>
        </tr>
        <tr>
          <td colspan="2">
            <a href="http://127.0.0.1:3000/issues/detail/"+body.IssueId+"">View Issue</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: large">"+body.Properties.Count +" updates</td>
        </tr>
        <tr>
          <td colspan="2">
            <b>Changes by "+body.EditorName+" </b>  on "+body.CreateAt+"
            9:01 PM
          </td>
        </tr>
"+updatebody+"
      </tbody>
    </table>
  </body>
</html>
